/** Container **/
.simpledatepicker-container {
  border: 1px solid #999;
  background-color: #EEE;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
  font-family: 'Helvetica Neue', 'Helvetica';
  color: #555;
  cursor: default;
  box-sizing: border-box;
}
.simpledatepicker-container * {
  box-sizing: border-box;
}

/** Reset button styles **/
.simpledatepicker-container button {
  background: none;
  border: 0;
  -webkit-appearance: none;
}

.simpledatepicker-container button:focus {
  /*border: 1px solid blue;*/
}

/** Calendar **/
.simpledatepicker-calendar {
  display: inline-block;
  padding: 5px 5px 0px 5px;
  width: 184px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.simpledatepicker-multiple .simpledatepicker-calendar {
  border-left: 2px solid #CCC;
  padding: 5px 5px 0px 10px;
}
.simpledatepicker-multiple .simpledatepicker-calendar.simpledatepicker-calendar-first {
  border-left: none;
  padding: 5px 10px 0px 5px;
}

/** Title **/
.simpledatepicker-title {
  text-align: center;
  height: 20px;
  line-height: 12px;
  font-weight: bold;
}
.simpledatepicker-title > span {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  cursor: pointer;
  width: 20px;
}
.simpledatepicker-title > span.simpledatepicker-title-date {
  width: 104px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: normal;
  cursor: default;
  line-height: 20px;
}
.simpledatepicker-linked .simpledatepicker-calendar-first .simpledatepicker-title-next,
.simpledatepicker-linked .simpledatepicker-calendar-middle .simpledatepicker-title-previous,
.simpledatepicker-linked .simpledatepicker-calendar-middle .simpledatepicker-title-next,
.simpledatepicker-linked .simpledatepicker-calendar-last .simpledatepicker-title-previous {
  visibility:hidden;
}
.simpledatepicker-title-month:hover,
.simpledatepicker-title-month:focus {
  color: #7EA0E2;
}

.simpledatepicker-title-year:hover,
.simpledatepicker-title-year:focus {
  color:#6FDF81;
}

/** Header **/
.simpledatepicker-header {
  margin: 3px 0;
}
.simpledatepicker-header > span {
  display: inline-block;
  width: 20px;
  height: 14px;
  text-align: right;
  padding: 1px;
  margin-left: 5px;
  font-weight: bold;
}
.simpledatepicker-header > span:first-child {
  margin-left: 0;
}

.simpledatepicker-container button.simpledatepicker-control {
  display: inline-block;
  height: 20px;
  position: relative;
  text-indent: -99999px;
  width: 16px;
}

.simpledatepicker-container button.simpledatepicker-control:before {
    content: "›";
    font-size: 20px;
    height: 100%;
    left: 0;
    line-height: 20px;
    padding: 0;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}
.simpledatepicker-container button.simpledatepicker-control.simpledatepicker-title-previous.simpledatepicker-title-year:before {
  content: "«";
}
.simpledatepicker-container button.simpledatepicker-control.simpledatepicker-title-previous.simpledatepicker-title-month:before {
  content: "‹";
}
.simpledatepicker-container button.simpledatepicker-control.simpledatepicker-title-next.simpledatepicker-title-year:before {
  content: "»";
}

/** Days **/
.simpledatepicker-days {
  position: relative;
}
.simpledatepicker-days > button {
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 16px;
  line-height: 14px;
  text-align: right;
  margin-left: 5px;
  margin-top: 4px;
  padding: 1px;
  cursor: default;
}
.simpledatepicker-days > button.simpledatepicker-first-week-day  {
  margin-left: 0;
}
.simpledatepicker-days > button.simpledatepicker-day-in {
  background-color: #FFF;
  border: 1px solid #ccc;
  cursor: pointer;
}
.simpledatepicker-days > button.simpledatepicker-day-out {
  color: #CCC;
}
.simpledatepicker-days > button.simpledatepicker-today {
  border: 1px solid #F00;
}
.simpledatepicker-days > button.simpledatepicker-selected-day {
  border: 1px solid #3366CC;
}
.simpledatepicker-days > button.simpledatepicker-day-in.simpledatepicker-selected-day {
  background-color: #99CCFF;
  color: #FFF;
}
.simpledatepicker-days > button.simpledatepicker-active-day {
  border: 1px solid #ADC2EB;
}
.simpledatepicker-days > button.simpledatepicker-day-in.simpledatepicker-active-day {
  background-color: #D6EBFF;
}
.simpledatepicker-days > button.simpledatepicker-day-in:hover,
.simpledatepicker-days > button.simpledatepicker-day-in:focus {
  border: 1px solid #666;
}
